body {
    padding-top: 70px;
}

.content-box {
    padding-top: 5px;
}
.recent-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;}

.recent {
    text-align: left;
    width: 50%;
}

.secpay {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font: normal 76px/1 Arial Black, Gadget, sans-serif;
    color: #545454;
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-shadow: 5px 2px 6px rgba(255,86,86,0.9) ;
    -webkit-transform: rotateZ(3deg)   ;
    transform: rotateZ(3deg)   ;
}

.payment-info {
    width: 100%;
    background-color: red;
}

