<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Secure wallet</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/css.css" rel="stylesheet"/>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Page Content -->
<div class="container">

    <div class="jumbotron content-box">
        <div class="logout"><a th:href="@{/logout}">logout</a></div>


        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="secpay">SecurePay</h1>
                <br/>

                <br/>
                <p class="lead">Hey <span th:text="${account.username}">username</span>, your account has <b><span
                        th:text="${account.funds}"></span>,00€</b>!</p>

                <form class="form-inline" method="GET" th:action="@{/payments}">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="number" name="euro" class="form-control" id="exampleInputAmount"
                                   placeholder="Amount"/>
                            <div class="input-group-addon">.00€</div>
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="to">
                                <span th:each="user :${users}">
                                <option name="to" th:text="${user.username}"></option>
                            </span>
                            </select>
                        </div>
                        <div class="form-group">
                            <input name="message" type="text" class="form-control" id="inputMessage"
                                   placeholder="message"/>
                        </div>

                    </div>
                    <button type="submit" class="btn btn-primary">Transfer cash</button>
                </form>

                <div class="container recent-container">
                    <h2>
                        Recently received <span class="badge" th:text="${unseen}">4</span>
                    </h2>
                    <table class="table recent">
                        <thead>
                        <tr>
                            <th>From</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="payment : ${account.receivedPayments}">
                            <td th:text="${payment.from.username}">Timo Soini</td>
                            <td><a th:href="@{'/payments/{id}'(id=${payment.id})}">
                                <span th:utext="${payment.date}">5</span>
                                <span th:if="${!payment.seen}" class="label label-danger">new!</span>
                            </a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>

    </div>
</div>
<!-- /.container -->

<!-- jQuery Version 1.11.1 -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

</body>

</html>
